@import "./adwaita.scss";

#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#battery,
#tray,
#custom-power,
#power-profiles-daemon,
#idle_inhibitor,
#custom-updates {
  background-color: $grid-bg;
}

#network {
  color: $purple;
}

#pulseaudio {
  color: $green;
}

#idle_inhibitor.activated {
  color: $red;
}

#idle_inhibitor.deactivated {
  color: $blue;
}

#custom-notification {
  color: $orange;
}
