#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#battery,
#tray,
#custom-power,
#power-profiles-daemon,
#custom-updates {
  background-color: #353535; }

#network {
  color: #9141ac; }

#pulseaudio {
  color: #33d17a; }

#custom-notification {
  color: #ff7800; }

* {
  padding: 0;
  margin: 0;
  font-weight: bolder; }

window#waybar {
  font-size: 13pt;
  background: #171717;
  box-shadow: inset -2px -2px 5px 1px rgba(0, 0, 0, 0.4), 2px 2px 5px 1px rgba(0, 0, 0, 0.4) inset; }

#cpu,
#memory,
#temperature,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-notification,
#power-profiles-daemon,
#custom-updates,
#tray {
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px; }

#network,
#battery,
#tray {
  padding-left: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

#power-profiles-daemon,
#custom-notification,
#cpu,
#custom-updates {
  margin-right: 6px;
  padding-right: 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

#cpu {
  font-size: 1.1em;
  font-weight: bolder;
  color: #ff7800;
  transition: 400ms;
  animation: ws_normal 20s ease-out 10; }

#bluetooth.connected {
  font-size: 1.15em;
  color: #1b6acb; }

#pulseaudio {
  padding-left: 0; }

#image,
#workspaces,
#clock,
#custom-power {
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 6px;
  border-radius: 5px; }

#workspaces button {
  font-size: 0;
  min-width: 11.05pt;
  min-height: 11.05pt;
  margin: 4.5px;
  border-radius: 30px;
  background-color: #eeeeec;
  transition: 100ms;
  animation: ws_normal 20s ease-out 10; }

#workspaces button.empty {
  background-color: #77767b; }

#workspaces button.active {
  min-width: 26pt;
  background-color: #3584e4;
  transition: 100ms; }

#battery.full {
  font-size: 1.15em; }

#custom-power {
  color: #e01b24;
  margin-right: 3px; }

.modules-left {
  margin-left: 3px; }
